/*
 * Author: Li Chenghao
 */
/*
 * This CSS style refers to the theme overrides by Reess Kennedy. The original comment is as follows:
 * Theme overrides by Reess Kennedy
 * Reference link: https://perishablepress.com/obsessive-css-code-formatting-organization-comments-and-signatures/
 */
/* @import url('https://www.surgolink.com/externalcss/wiki.css?v=1'); */
.v-main .contents a {
	color: #309cf2 !important;
}

/*
Theme overrides by Reess Kennedy
*/

/* https://perishablepress.com/obsessive-css-code-formatting-organization-comments-and-signatures/ */

/*** Header Area ***/   


/*** Title Area ***/ 

/* Not sure what to do with this area.
 * There is no h1 tag in this area, which is not great for SEO.
 * You can either minimize this area, hide it and always use an h1 tag.
 * Or make this the page header and make it bolder and bigger...
 * Choosing bolder and bigger now because it's annoying to have to choose a new h1 each time you create a new page.
 */
.v-application .headline {
    font-size: 1.8rem!important;
    letter-spacing: normal!important;
    font-weight: 800;    
}
.page-header-section .page-header-headings {
    min-height: 100% !important; /* This area originally had a minimum height, which is now eliminated. -- Not sure how this will look on mobile though. */
}   
.page-header-section .page-edit-shortcuts {
    position: absolute;
    bottom: 0px; /* Nice position */
    right: 10px;
}
.page-header-section .page-edit-shortcuts .v-btn:last-child {
		border: 1px solid #9e9e9e !important;
		padding: 8px !important;
}
.page-header-section .page-header-headings .page-edit-shortcuts button {
	border: 1px solid #ddd !important;
}
.v-application .grey--text.text--lighten-2 {
    color: #fff !important; 
    !important;
    caret-color: #e0e0e0!important;
}

.page-header-section {
	height: 100% !important; /** The default height is 90px. Now set it to fit the size of the content so that the padding can be properly changed. */
	padding-top: 30px;
	padding-bottom: 0px;
}
hr[role="separator"]  {
	display: none !important;
	color: yellow;
}

/*** Breadcrumbs Area ***/ 
.v-btn:not(.v-btn--round).v-size--small {
    height: 28px;
    min-width: 50px;
    padding: 0 1px !important;
}

#root .v-application .grey.darken-4-l3 {
    background-color: transparent !important;
    border-color: #292929 !important;
}

/*** Right Sidebar Area ***/
.page-col-sd {
    margin-top: -95px; /* It was originally -91px, but had to nudge up a bit to improve the effect. */
}   
.page-col-sd .v-chip.v-size--default {
    border-radius: 40px;
    font-size: 12px;
    height: 22px;
}

/* Styles for tags in the right sidebar */
body .page-col-sd .teal.darken-1 {
    background-color: #2196f36b !important;
    border-color: #2196f3 !important;
    color: #fff;
}
body .page-col-sd .teal.darken-1 i {
	font-size: 12px !important;
}	
/* Set the color and caret color of specific teal text */
.v-application .teal--text.text--lighten-3 {
    color: #fff !important;
    caret-color: #fff !important;
}

/* Might be global styles? */

/** Remove the page header **/
.page-toc-card .overline {
  display: none;
}

/* Not sure what xdisplay is. It might be commented-out code. */
.page-toc-card i.v-icon {
  xdisplay: none !important;
}	
.page-toc-card .mdi-chevron-right:before {
    content: "";
    xdisplay: none;
}
.page-toc-card .mdi-chevron-right:after {
	display: none;
}	

.page-col-sd {
	xbackground: red;
	background: #171717;
}
.v-sheet.v-card {
    border-radius: 0px !important;
    border: 0px solid #fff;
	background: #171717;
    background-color: #171717;
    xbackground: red;
    background: #171717;
}
.theme--dark.v-card {
    xbackground-color: red !important;
    background-color: #171717 !important;
    color: #fff;
}
.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none !important;
}
.v-list--dense .v-list-item, .v-list-item--dense {
    min-height: 20px !important;
}
.v-application .px-3 {
    padding-right: 12px!important;
    padding-left: 5px!important;
}
.page-col-sd .v-toolbar {
	display: none !important;
}
.theme--dark.v-list {
    background: #1e1e1e;
    background-color: #171717 !important;    
    color: #fff;
}

/** No need for background on footer text and should be dimmed **/
.v-application .grey.darken-3 {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #9e9e9e !important;
}

/** Hide the big discussion button **/
.page-comments-card button:nth-child(1) {
	display: none;
}
.page-comments-card .ml-2 {
	margin-left: 0px !important;
}	
/** Override the uppercase style **/
.v-application .overline {
	text-transform: none !important;	
}	

/*** Left Sidebar Area ***/

/** These icons were originally white. Trying to make them "Mac folder blue".
 * Then also changed the document icons and all icons. Different colors look better.
 **/

/** Only affect the icon colors in the left sidebar **/
.v-navigation-drawer__content .theme--dark.v-icon.mdi-folder {
    color: #0886da !important;
}
.v-navigation-drawer__content .theme--dark.v-icon.mdi-text-box {
    color: #9e9e9e !important;
}

/** Remove the large space between icons and links **/
.v-application--is-ltr .v-list-item__avatar:first-child, 
.v-application--is-rtl .v-list-item__action:last-of-type:not(:only-child), 
.v-application--is-rtl .v-list-item__avatar:last-of-type:not(:only-child), 
.v-application--is-rtl .v-list-item__icon:last-of-type:not(:only-child) 
{
    margin-right: 7px !important;
}

/* Remove the "Home" button */
button[aria-label="Home"] {
	display: none !important;
}
/* Remove the left padding from the navigation button */
.v-navigation-drawer__content button:nth-child(2) {
	padding-left: 0px;
	margin-left: 0px !important;
}
/* Added "Pages" after "Browse".
 * Could be "Content", "Folders", or "Wiki"... Not sure.
 */
i.mdi-file-tree + div:after {
	content: " Pages";	
}

/** Change the weird large icon that looks like some non-standard navigation or atlas related thing -- not sure **/
.mdi-navigation:before {
    content: "←";
}

/*** Body Area ***/
.theme--dark .v-main .contents h1:after {
    background: linear-gradient(90deg,#64b5f6,#2196f3 10%,rgba(13,71,161,0));
    background: none;
}
.

.theme--dark .v-main .contents h2 {
	color: #fff;
	xborder-bottom: 1px solid #ddd;
}
.theme--dark .v-main .contents h2:after {
    background: linear-gradient(90deg,#e0e0e0,rgba(97,97,97,0));
    background: none;
}
.v-main .contents blockquote p {
    padding: 1rem 0 0;	
}	
.v-main .contents p {
    padding: .5rem 0 .5rem 0; /* Smaller top padding and added bottom padding. Just top padding felt weird. */
}

.v-main .contents h3 { 
    margin-top: 20px; 
    // 移除了 color: #fff !important;
}
.contents h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,#9e9e9e,hsla(0,0%,62%,0) 90%);
    background: none !important;
}

.v-main .contents ul {
  padding-top: .5rem !important;
  padding-left: 1rem !important;
}
.v-main .contents ul:not(.tabset-tabs):not(.contains-task-list)>li:before {
    position: absolute;
    left: -.8rem;
    color: #757575;
    width: 1.15rem;
    content: "•";
    color: orange;
    font-weight: 900 !important;
}
#root .v-application .overline {
    line-height: 1rem;
    font-size: .625rem!important;
    font-weight: 400;
    letter-spacing: 0em!important; /* Removed spacing between letters. Spacing between letters was used for the underline effect before. Now it feels like it's random and trying too hard. */
}
/* Assume this is the global style or light theme related style area */
.theme--light {
    background-color: #fff3cd !important;
}

/* If you find that specific areas also need to modify the background color, you can add rules similar to the following */
.v-main.theme--light {
    background-color: #fff3cd !important;
}

.v-content.theme--light {
    background-color: #fff3cd !important;
}

/* 设置浅色主题下 .comments-main 容器的背景颜色 */
.theme--light .comments-main {
    background-color: #fff3cd !important;
}
.theme--light .table-container table thead th,
.theme--light .table-container table tbody tr:nth-child(1) td,
.theme--light .table-container table tbody tr:nth-child(2) td,
.theme--light .table-container table tbody tr:nth-child(3) td {
    background-color: #fff3cd !important;
}

/* 添加全局边框样式 */
.v-application {
    border: 2px solid #309cf2;
    box-sizing: border-box;
}
.theme--light .v-footer.grey.lighten-3 {
    background-color: #fff3cd !important;
}
   
   
   

